---
layout: layouts/main-template.njk
title: Inspirace
---


<h1 class="section-title">Inspirace</h1>


<section id="inspiration" class="inspiration">
    {% for image in randomGallery | sample(9) %}
        {% include 'partials/gallery-image.njk' %}
    {% endfor %}

</section>


<h2 class="section-subtitle" id="my-work">Má tvorba</h2>

<section class="my-work">

    <div class="image">
        <img class="image__img" src="/images/Regu.webp" alt="kolo">
        <div class="image__description">
            <p class="image__title">Digitální ilustrace</p>
            <p class="image__text">Photoshop</p>
        </div>
    </div>

    <div class="image">
        <img class="image__img" src="/images/Kiki.webp" alt="kolo">
        <div class="image__description">
            <p class="image__title">Digitální ilustrace</p>
            <p class="image__text">Photoshop</p>
        </div>
    </div>


</section>

