@use '../abstracts/variables';
@use '../abstracts/mixins';


.hero {

    &__image--mobil {
        width: 100%;
        z-index: -1;
        
        @include mixins.display-med {
            display: none;
        }

        @include mixins.display-lg {
            display: none;
        }
       
    }

    &__image--tablet {
        width: 100%;
        z-index: -1;
        display: none;

        @include mixins.display-med {
            display: block;
        }

        @include mixins.display-lg {
            display: none;
        }
       
    }

    &__image--desktop {
        display: none;

        @include mixins.display-med {
            display: none;
        }

        @include mixins.display-lg {
            z-index: -1;
            display: block;
            width: 100%;  
        }
    }

    &__blockquote {
        text-align: center;
        background-color: variables.$color-secondary-op;
        padding: variables.$half-spacer;
        width: 75%;

        @include mixins.radius-item;
       
        @include mixins.display-med {
            padding: variables.$spacer;            
        }
      
        @include mixins.display-lg {
            padding: variables.$double-spacer;
            width: 100%;
            background: none;          
        }
    }

    &__quote {
        font-size: variables.$font-sm;
        font-family: variables.$special-font;

        @include mixins.display-med {
            font-size: variables.$font-med;
        }

        @include mixins.display-lg {
            font-size: variables.$font-lg;
            text-align: start;
            @include mixins.margin-b
           
        }

        
    }

    &__author {
        font-size: 0.8em;
        text-align: center;

        @include mixins.display-med {
             
        }

        @include mixins.display-lg {
            font-size: 1.2em;
            text-align: right; 
        }
        
    }

    &__author::before{
        content: "";
        display: inline-block;
        width: 30px;
        height: 2px;
        background-color: variables.$color-primary;
        margin: 12px -55px 24px 10px;

        @include mixins.display-med {
            margin: 24px -52px 24px 30px;
        }
        
        @include mixins.display-lg {
           margin: 0 variables.$spacer 6px 0;
           
        }
       
    }
}

.welcome {
    
    &__text {
        background-color: variables.$color-secondary;
        padding: variables.$spacer;

        @include mixins.margin-b;
    }

}


.link--homepage {
    margin: variables.$double-spacer 0;
    text-align: center;
    display: block;
}