<footer class="footer">

    <div class="card-wrapper">
    
        <section class="card card--contact">
            
            
            <h1 class="card__title">Kontaktuj mě</h1>
            <image class="icon icon--small">ikona mailu</image>
            <p class="email">E-mailem: jmeno@ab.cd</p>
            
            <!-- <p>Telefonicky: xxx xxx xxx</p>
            <a href="#">ikona instagramu</a>
            <a href="#">ikona fb</a> -->
            



        </section>


        <section class="card card--profil">
            <img src="/images/profilove-foto-small-.png" alt="profilové foto" class="image image--profil" height="200px">

            
            <div class="card__text">
                <h1 class="card__title">Kdo jsem</h1>
                <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore repudiandae commodi voluptates earum. Quibusdam qui natus quae facere aliquid cupiditate!</p>
            </div>

        </section>



    </div>




    <p class="copy">&copy;Iveta Círová</p>


</footer>