<footer class="footer">

    <div class="footer-card-wrapper">
    
        <div class="card">
        
            <div class="card__content"> 
                
                <h1 class="card__title">Kontaktuj mě</h1>
                <p class="card__description">jmeno@ab.cd</p>
                <p class="card__description">+420 XXX XXX XXX</p>
                
            </div>

            <img class="card__image card__image--contact" src="/images/mailbox.webp" alt="profilové foto">  

        </div>

        <div class="card">
        
            <div class="card__content">   
                <h1 class="card__title">Ptej se</h1>

                <form class="form" method="post" action="#">
                    
                    <div class="form__field">
                        <label class="form__label" for="name">Jméno</label>
                        <input class="form__input" type="text" name="name" id="name">
                    </div>

                    <div class="form__field">
                        <label class="form__label" for="email">E–mail <span class="form__required">*</span></label>
                        <input class="form__input" type="email" name="email" id="email">
                    </div>

                    <div class="form__field">
                        <label class="form__label" for="message">Zpráva <span class="form__required">*</span></label>
                        <textarea class="form__textarea" name="message" id="message" cols="30" rows="10"></textarea>
                    </div>
            
                    <input class="btn btn--form" type="submit" value="Odeslat" id="submit">

                </form> 

            </div>

        </div>

        <div class="card">
        
            <div class="card__content">
                
                <img class="card__image card__image--profil" src="/images/profil-akvarel.webp" alt="profilové foto">
                <h1 class="card__title">Kdo jsem</h1>
                <p class="card__description">Jmenuji se Iveta. Maluji a kreslím už od mala. Začínala jsem tužkou a pastelkami, později vodovými barvami, pastely a tuší. Teď se věnuji výhradně akvarelu v kombinaci s perokresbou. </p>
    
            </div>
    
            <a class="card__link btn btn--outline btn--profil" href="/inspirace/">Má tvorba</a>

        </div>


    </div>

        <a class="link link--footer" href="/zdroje/">Zdroje obrázků</a>
        <p class="copy">Copyright &copy; 2023 Iveta Círová</p>

</footer>