<footer class="footer">

    <div class="footer-card-wrapper">
    
        <div class="card">
        
            <div class="card__content">   
                <h1 class="card__title">Kontaktuj mě</h1>
                <p class="card__description">E-mailem: jmeno@ab.cd</p>
            </div>

        </div>

        <div class="card">
        
            <div class="card__content">   
                <h1 class="card__title">Zdroje obrázků</h1>
            </div>

        </div>

        <div class="card">
        
            <div class="card__content">
                
                <img class="card__image" src="/images/profil-akvarel.webp" alt="profilové foto">
                <h1 class="card__title">O mně</h1>
                <p class="card__description">Pár vět o mě</p>
    
            </div>
    
            <a class="card__link btn btn--outline" href="#">více…</a>

        </div>


    </div>

    <p class="copy">&copy;Iveta Círová</p>


</footer>