<div class="image">
    <img class="image__img" src="{{ image.src }}" alt="{{ image.alt }}" loading="lazy" decoding="async">
    <div class="image__description">
        <p class="image__author">
            <a class="link link--inspiration" href="{{ image.authorLink }}">{{ image.authorName }}</a>
        </p>
    </div>
</div>
