
<header class="header">

    <div class="header-wrapper">

        <img src="/images/title-image.png" alt="" class="header__image" width="300px">
        
        <a href="/">
            <img class="header__image" src="/images/header-image.png" alt="flower" width="150px">
        </a>
        
        
           
    </div>
        
    {% include 'partials/menu.njk' %}

</header>