
<header class="header">

    <div class="header-wrapper">

            <p class="logo">Nejen  o <span class="logo__color">akvarelu</span></p>

            <div class="logo-wrapper">

                {% include 'partials/menu.njk' %}  
                
            </div>
           
    </div>
        
</header>

