<nav>
    <ul>
        <li><a href="Zaklady.html">Základy</a></li>
        <li><a href="Techniky.html">Techniky</a></li>
        <li> <a href="Objekty.html">Objekty</a></li>
        <li> <a href="Zdroje.html">Zdroje</a></li>
    </ul>
</nav>