<nav class="menu" >

    <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
    <label for="menu-checkbox" class="menu__toggler">☰ menu</label>

    <ul class="menu__list">
        <li class="menu__item"><a class="menu__link" href="#">články</a></li>
        <li class="menu__item"><a class="menu__link" href="#">portfolio</a></li>
        <li class="menu__item"><a class="menu__link" href="#">o mně</a></li>
        <li class="menu__item"><a class="menu__link" href="#">kontakt</a></li>
    </ul>
</nav>