<nav class="menu" >

    <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
    <label for="menu-checkbox" class="menu__toggler">☰ MENU</label>

        <ul class="menu__list">
            <li class="menu__item "><a class="menu__link {{ 'menu__link--active' if page.fileSlug === '' }}" href="/">Domů</a></li>
            <li class="menu__item "><a class="menu__link {{ 'menu__link--active' if page.fileSlug === 'clanky' }}" href="/clanky/">Články</a></li>
            <li class="menu__item "><a class="menu__link {{ 'menu__link--active' if page.fileSlug === 'inspirace' }}" href="/inspirace/">Inspirace</a></li>
            <li class="menu__item "><a class="menu__link {{ 'menu__link--active' if page.fileSlug === 'zdroje' }}" href="/zdroje/">Zdroje</a></li>
        </ul>

 
</nav>

