@use '../abstracts/variables';
@use '../abstracts/mixins';

.footer {
    padding: variables.$spacer;
    background-color: variables.$color-secondary;

    @include mixins.display-med {
        // max-width: 1200px;
        margin: 0 auto;
        
    }
}

.footer-card-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 variables.$spacer;
}

.copy {
    margin-top: variables.$spacer;
    text-align: center;
}