@use '../abstracts/variables';
@use '../abstracts/mixins';

.footer {
    background-image: url(/images/background.png);
    background-size: cover;
    padding: variables.$spacer;
}



.card__image--profil {
    border-radius: 50%;
    margin: 0 auto;

}

.card--footer {
    background-color: white;
}









.copy {
    margin-top: variables.$spacer;
    text-align: center;
}