@use '../abstracts/variables';
@use '../abstracts/mixins';

.footer {
    padding: variables.$spacer;
    background-color: variables.$color-secondary;

    @include mixins.display-med {
      margin: 0 auto;
        
    }
}

.footer-card-wrapper {

    @include mixins.display-med {
        max-width: 1152px;
        margin: 0 auto;
    }
    
}

.link--footer {
    text-align: center;
    margin-top: variables.$spacer;
    display: block;

}

.copy {
    margin-top: variables.$spacer;
    text-align: center;
   
}