@use '../abstracts/variables';
@use '../abstracts/mixins';

.buttons {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    align-self: start;

    @include mixins.display-lg {
        grid-column: 1 / 2;
        justify-self: start;
        margin-left: variables.$double-spacer;

    }
}