@use '../abstracts/variables';
@use '../abstracts/mixins';

.header {
    padding: variables.$spacer;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    text-align: center;
    color: black;
    font-family: variables.$default-font;
    font-weight: 400;
    text-transform: uppercase;
  
    @include mixins.margin-b;

    &__color {
        color: variables.$color-primary;
    }

    @include mixins.display-med {
        
    }

    @include mixins.display-lg {
        margin-bottom: 0;
    }

    // &__bef::before{
    //     content: "";
    //     display: inline-block;
    //     width: 10px;
    //     height: 2px;
    //     background-color: black;
    //     margin: 8px 12px;

    //     @include mixins.display-med {
    //         margin:  9px 12px;
    //     }
       
    //     @include mixins.display-lg {
    //         height: 3px;
    //     }
    // }

    // &__bef::after{
    //     content: "";
    //     display: inline-block;
    //     width: 10px;
    //     height: 2px;
    //     background-color: black;
    //     margin: 8px 12px;

    //     @include mixins.display-med {
    //         margin:  9px 12px;
    //     }
       
    //     @include mixins.display-lg {
    //         height: 3px;
    //     }
    // }  
}

@keyframes dissolve {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .dissolve-image {
    animation: dissolve 3s linear;
  }







