@use '../abstracts/variables';
@use '../abstracts/mixins';

.header {
    background-image: url(/images/background.png);
    background-size: cover;
    min-height: 350px;
    padding: variables.$spacer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 600px) {
        justify-content: space-around;
    }

    &__image {

        display: block;
        margin: auto;

        @include mixins.margin-b;

        @media screen and (min-width: 600px) {
                margin: 0;
        }

    }

}

.header-wrapper {

    @media screen and (min-width: 600px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: variables.$spacer
    }
    
    
}




