@use '../abstracts/variables';
@use '../abstracts/mixins';

.menu {

    &__checkbox {
	position: absolute;
	left:  -9999px;
    }

    &__checkbox:checked ~ .menu__list {
        @include mixins.display-med {
            display: block;
        }   
    }

    &__toggler {
        display: block;
        text-align:center;
        cursor: pointer;
        font-size: 1.2em;
       

        @include mixins.display-med {
            display: none;
        }
    }

    &__list {
        display: none;
       
        align-self: center;
       
        
        @include mixins.display-med {
        display: flex;
        justify-content: center;
       
        gap: variables.$double-spacer;  
        }
    }
   

    &__link {
        text-decoration: none;
        color: black;
        
    }

    &__item {
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 1.2em;
        font-family: variables.$title-font;
        padding: variables.$half-spacer;
       
      
              
       
    }
    
    &__link:hover, &__link:focus {
        cursor: pointer;

        @include mixins.display-med {
            color: variables.$color-primary;
        }
    }
}

.menu__link--active {
    color: variables.$color-primary;
}


.menu-wrapper {
    text-align: end;
}
