@use '../abstracts/variables';
@use '../abstracts/mixins';

.menu {

    margin-bottom: variables.$half-spacer;

   
    &__list {
        
        @media screen and (min-width: 680px) {
            display: flex;
            justify-content: center;
            gap: variables.$half-spacer;  
        }
    }

    &__item {
        display: block;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.2em;
        font-family: variables.$title-font;
        padding: variables.$half-spacer;
    }

    &__link {
        text-decoration: none;
        color: black;
    }
    
    &__link:hover, &__link:focus {
        cursor: pointer;

        @media screen and (min-width: 680px) {
            color: variables.$color-primary;
            // transform: translateY(3px);
        }
    }
}

.menu__link--active {
    color: variables.$color-primary;
}



