@use '../abstracts/variables';
@use '../abstracts/mixins';

.btn {
    @include mixins.button;

    // @include mixins.shadow;

    &:hover,
    &:active {
        cursor: pointer;
        background-color: darken(variables.$color-primary, 10%);
       
    }




    &--outline {
        border: 2px solid variables.$color-primary;
        color: variables.$color-primary;
        
        background-color: rgb(255, 255, 255);
        

        &:hover,
        &:active {
           
            background-color: variables.$color-secondary;
           
        }
    }

    &--outline-dark {
        border: 2px solid black;
        color: black;
    }

    &--low-opacity {
        background-color: variables.$color-primary-op;
    }

   

}

.buttons {
    display: flex;
    gap: variables.$spacer;


}

