@use '../abstracts/variables';
@use '../abstracts/mixins';

.btn {
    @include mixins.button;

    // @include mixins.shadow;

    &:hover,
    &:active {
        cursor: pointer;
        background-color: darken(variables.$color-primary, 10%);
       
    }

    &--outline {
        border: 2px solid variables.$color-primary;
        color: variables.$color-primary;
        
        background-color: rgb(255, 255, 255);
        
        &:hover,
        &:active {
            background-color: variables.$color-secondary;
        }

        // border a barva písma u tlačítka inspirace v hero sekci

        // &-hero {
        //     border: 2px solid black;
        //     color: black;
        // }
    }
    


    &--low-opacity {
        background-color: variables.$color-primary-op;
    }

    &--profil {
        width: 140px;
        padding: 15px 20px;
    }

    &--form {
        border: 0;
        font-size: variables.$font-sm;
        font-family: variables.$default-font;
        margin: 0 auto;        
    }

}

