@use '../abstracts/variables';
@use '../abstracts/mixins';


.card {
    background-color: variables.$color-secondary-op;
    padding: variables.$spacer;

    @include mixins.margin-b;

    @include mixins.display-lg {
        margin-bottom: 0;
    }

    &--contact {
        gap: variables.$spacer;
        align-items: center;
    }

    &__image {
        display: block;
        width: 100%;

        &--contact {
            width: 50%;
            margin: 0 auto;

            @include mixins.display-med {
                width: 30%;
            }

            @include mixins.display-lg {
                width: 100%;
            }
        }

        &--profil {
            width: 100%;
            margin: 0 auto;

            @include mixins.display-med {
                width: 50%;
            }

            @include mixins.display-lg {
                width: 100%;
            }
        }

    }


    &__title {
    font-size: variables.$font-med;
    }

    &__description--date {
        font-size: 0.8em;
        font-family: variables.$special-font;
    }


    &__link {
        margin-top: variables.$spacer;
        border: 2px solid variables.$color-primary;
        color: variables.$color-primary;
    }

}

