@use '../abstracts/variables';
@use '../abstracts/mixins';


.card {

    background-color: variables.$color-secondary-op;
    padding: variables.$spacer;
    

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    
   
    @include mixins.margin-b;

    flex-basis: 100%;
    

    &__content {
        display: grid;
        gap: variables.$spacer;
        justify-items: center;

    }

    &__description--date {
        font-size: 0.8em;
        font-family: variables.$special-font;
    }

    &__link {
        margin-top: variables.$spacer;
        align-self: center;
    }

    
    


}
