@use '../abstracts/variables';
@use '../abstracts/mixins';

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; margin: 0; padding: 0; }

body {
    font-family: variables.$default-font;
    background-image: url(/images/background.png);
}

h1,
h2,
h3 {
    font-family: variables.$title-font;
    color: variables.$color-primary;
}

.section-title {
    text-align: center;
    font-size: 2em;
    margin: variables.$double-spacer 0;

    @media screen and (min-width: 600px) {
        font-size: 3em;
    }
}

.main {
    padding: variables.$spacer;

    @include mixins.display-med {
        max-width: 1200px;
        margin: 0 auto;
        // padding: 0;
    }
}

.link {
    color: variables.$color-primary;
}



