@use '../abstracts/variables';
@use '../abstracts/mixins';

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; margin: 0; padding: 0; }

body {
    font-family: variables.$default-font;
    background-image: url(/images/background.webp);
}

h1,
h2,
h3 {
    font-family: variables.$title-font;
    color: variables.$color-primary;
}

.section-title {
    font-size: 2em;
    text-align: center;
    margin: variables.$double-spacer 0;
}

.main {
    padding: 0 variables.$spacer;

    @include mixins.display-med {
        max-width: 1200px;
        margin: 0 auto;
        
    }
}

.link {
    color: variables.$color-primary;
}



