@use '../abstracts/variables';

@mixin margin-b {
    margin-bottom: variables.$spacer;
}

@mixin radius-item {
    border-radius: 2px;
}

@mixin shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 8px 4px 18px;
}

@mixin display-lg {
    @media screen and (min-width: variables.$screen-lg) {
        @content;
    }
}

@mixin display-med {
    @media screen and (min-width: variables.$screen-med) {
        @content;
    }
}

@mixin button {

    display: block;
    text-decoration: none;

    background-color: variables.$color-primary;
    color: white;
    padding: 10px 15px;
    width: 100px ;
   
    text-align: center;

    @include radius-item;

    @include display-med {
        width: 140px;
        padding: 15px 20px;
        
    }

    @include display-lg {
        // width: 140px;
    }
}

@mixin padding-sm {
    padding: variables.$half-spacer;
}

@mixin padding-med {
    padding: variables.$spacer;
}

@mixin padding-lg {
    padding: variables.$double-spacer;
}

@mixin aligner {
    @include display-lg {
        display: grid;
        gap: variables.$spacer;
        grid-template-columns: repeat(3, 1fr)
         
     }
}



