$color-primary: #DC8676;
$color-secondary:#EFC2B6;

$default-font: 'Oxygen', sans-serif;
$title-font: 'Poppins', sans-serif;
$special-font: 'Calligraffitti', cursive;




$spacer: 20px;
$double-spacer: $spacer * 2;
$triple-spacer: $spacer * 3;
$half-spacer: $spacer / 2;