$color-primary: #DC8676;
$color-secondary:#f9e7e2;

$default-font: 'Poppins', sans-serif;
$title-font: 'Open Sans', sans-serif;
// $special-font: 'Calligraffitti', cursive;




$spacer: 20px;
$double-spacer: $spacer * 2;
$triple-spacer: $spacer * 3;
$half-spacer: $spacer / 2;

