---
layout: layouts/main-template.njk
---



<article class="article">

    <img class="article__image" src="/clanky/images/{{ image }}" alt="{{ alt }}" >
                
    <h1 class="article__title"> {{ title }} </h1>
    <p class="article__subtitle"> {{ subtitle }} </p>
    <p class="article__meta">{{ page.date.toLocaleString('cs-CZ') }} </p>
    
    <div class="article__content">

        <div class="article__text">

            <p class="article__perex"> {{ perex }}</p>  


            {{ content | safe }}


        </div>

        

    </div>

</article>

<a class="btn btn--outline link--article" href="/clanky/">Zpět</a>

