---
layout: layouts/main-template.njk
---

<div class="container">

    <section class="welcome">

        <h1 class="section-title">Vítejte</h1>
        <p>blogu o akvarelu plném zajímavých informací a inspirace.</p>


    </section>

    <section class="new-articles">

        <h1 class="section-title">Nejnovější články</h1>

        {{ content | safe }}

    </section>








</div>