---
layout: layouts/main-template.njk
---



<div class="container">

    <section class="hero">

       
        <img class="hero__image hero__image--desktop dissolve-image" src="/images/bird-desktop.webp" alt="kolibřík">
        <img class="hero__image hero__image--tablet dissolve-image" src="/images/bird-tablet.webp" alt="kočky">
        <img class="hero__image hero__image--mobil dissolve-image" src="/images/bird-mobil.webp" alt="kolibřík">
    

        <blockquote class="hero__blockquote">

            <p class="hero__quote">„Akvarel je hlas vody, který tiše vypráví příběh barev.“</p>
            <p class="hero__author">Iveta Círová</p>

        </blockquote>

        <div class="buttons">
            <a class="btn " href="/clanky/">Články</a>
            <a class="btn btn--outline btn--outline-hero" href="/inspirace/">Inspirace</a>
          </div>

    </section>

    <section class="welcome">

        <h1 class="section-title">Vítejte</h1>

        <div class="welcome__text">

            <p class="welcome__description">Jsem nadšená, že jste se rozhodli navštívit můj blog, který je věnován akvarelu - krásnému uměleckému médiu.</p>
            <p class="welcome__description">Akvarel je unikátní technika malby, která se vyznačuje transparentností a lehkostí. Je to způsob, jak přenést vaši kreativitu na papír pomocí štětců, barev a vody.</p>
            <p class="welcome__description">Najdete zde články a návody, které vám pomohou rozvíjet vaše dovednosti. Od základů až po pokročilé techniky.</p>
            <p class="welcome__description">Doufám, že vám moje příspěvky přinesou radost, inspiraci a podporu na vaší umělecké cestě. Buďte připraveni objevovat, experimentovat a vytvářet úžasná díla.</p>

        </div>

        
    </section>

    <section class="new-articles">

        

            <h1 class="section-title">Nejnovější články</h1>



            <div class="new-articles-wrapper">

                {{ content | safe }}

            </div>

    

        <a class="link link--homepage" href="/clanky/">Další články</a>

    </section>



</div>

